<table class="tg">
  <%  game_rows.each do |row| %>
    <tr>
      <%  game_board_cells.each do |cell| %>
        <%  if cell.row == row %>
          <th id="<%= cell.id %>" class="click_cell <%=cell_style(cell)%>">
            <%  if cell.open? %>
              <%=cell.value %>
            <% end %>
          </th>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
