<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>

    </style>
</head>

<body>
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:14px 14px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:14px 14px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-d3c1{background-color:#c0c0c0;color:#000000;border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<style type="text/css">
    .
</style>
<div align="center" >
  <%= render :partial => 'games/game_board', locals: {game_rows: @game_rows, game_board_cells: @game_board_cells} %>
</div>
</body>
</html>
